In [4]:
cd D:\avito

D:\avito

In [5]:
import pandas as pd
import gc

In [4]:
train = pd.read_csv('train.csv')

# See the whole picture of dataset

In [5]:
train.head(5)

,item_id,user_id,region,city,parent_category_name,category_name,param_1,param_2,param_3,title,description,price,item_seq_number,activation_date,user_type,image,image_top_1,deal_probability
0,b912c3c6a6ad,e00f8ff2eaf9,Свердловская область,Екатеринбург,Личные вещи,Товары для детей и игрушки,Постельные принадлежности,NaN,NaN,Кокоби(кокон для сна),"Кокон для сна малыша,пользовались меньше месяц...",400.0,2,2017-03-28,Private,d10c7e016e03247a3bf2d13348fe959fe6f436c1caf64c...,1008.0,0.12789
1,2dac0150717d,39aeb48f0017,Самарская область,Самара,Для дома и дачи,Мебель и интерьер,Другое,NaN,NaN,Стойка для Одежды,"Стойка для одежды, под вешалки. С бутика.",3000.0,19,2017-03-26,Private,79c9392cc51a9c81c6eb91eceb8e552171db39d7142700...,692.0,0.00000
2,ba83aefab5dc,91e2f88dd6e3,Ростовская область,Ростов-на-Дону,Бытовая электроника,Аудио и видео,"Видео, DVD и Blu-ray плееры",NaN,NaN,Philips bluray,"В хорошем состоянии, домашний кинотеатр с blu ...",4000.0,9,2017-03-20,Private,b7f250ee3f39e1fedd77c141f273703f4a9be59db4b48a...,3032.0,0.43177
3,02996f1dd2ea,bf5cccea572d,Татарстан,Набережные Челны,Личные вещи,Товары для детей и игрушки,Автомобильные кресла,NaN,NaN,Автокресло,Продам кресло от0-25кг,2200.0,286,2017-03-25,Company,e6ef97e0725637ea84e3d203e82dadb43ed3cc0a1c8413...,796.0,0.80323
4,7c90be56d2ab,ef50846afc0b,Волгоградская область,Волгоград,Транспорт,Автомобили,С пробегом,ВАЗ (LADA),2110,"ВАЗ 2110, 2003",Все вопросы по телефону.,40000.0,3,2017-03-16,Private,54a687a3a0fc1d68aed99bdaaf551c5c70b761b16fd0a2...,2264.0,0.20797

In [6]:
sum(train.duplicated())

0

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1503424 entries, 0 to 1503423
Data columns (total 18 columns):
item_id                 1503424 non-null object
user_id                 1503424 non-null object
region                  1503424 non-null object
city                    1503424 non-null object
parent_category_name    1503424 non-null object
category_name           1503424 non-null object
param_1                 1441848 non-null object
param_2                 848882 non-null object
param_3                 640859 non-null object
title                   1503424 non-null object
description             1387148 non-null object
price                   1418062 non-null float64
item_seq_number         1503424 non-null int64
activation_date         1503424 non-null object
user_type               1503424 non-null object
image                   1390836 non-null object
image_top_1             1390836 non-null float64
deal_probability        1503424 non-null float64
dtypes: float64(3), int64(1), object(14)
memory usage: 206.5+ MB

In [8]:
print(train.isnull().sum())

item_id                      0
user_id                      0
region                       0
city                         0
parent_category_name         0
category_name                0
param_1                  61576
param_2                 654542
param_3                 862565
title                        0
description             116276
price                    85362
item_seq_number              0
activation_date              0
user_type                    0
image                   112588
image_top_1             112588
deal_probability             0
dtype: int64

# Clean the dataset
## Drop the rows whoes 'price' is nan

In [9]:
train.dropna(subset=['price'],inplace = True)

In [10]:
print(train.isnull().sum())

item_id                      0
user_id                      0
region                       0
city                         0
parent_category_name         0
category_name                0
param_1                  57009
param_2                 609624
param_3                 791505
title                        0
description             112714
price                        0
item_seq_number              0
activation_date              0
user_type                    0
image                    86437
image_top_1              86437
deal_probability             0
dtype: int64

## Fill the nan with 'nan'

In [11]:
train.fillna('nan',inplace = True)

In [12]:
print(train.isnull().sum())

item_id                 0
user_id                 0
region                  0
city                    0
parent_category_name    0
category_name           0
param_1                 0
param_2                 0
param_3                 0
title                   0
description             0
price                   0
item_seq_number         0
activation_date         0
user_type               0
image                   0
image_top_1             0
deal_probability        0
dtype: int64

In [13]:
col_name = train.keys()

In [23]:
len(train['region'].value_counts())

28

In [14]:
train.iloc[0]

item_id                                                      b912c3c6a6ad
user_id                                                      e00f8ff2eaf9
region                                               Свердловская область
city                                                         Екатеринбург
parent_category_name                                          Личные вещи
category_name                                  Товары для детей и игрушки
param_1                                         Постельные принадлежности
param_2                                                               nan
param_3                                                               nan
title                                               Кокоби(кокон для сна)
description             Кокон для сна малыша,пользовались меньше месяц...
price                                                                 400
item_seq_number                                                         2
activation_date                                                2017-03-28
user_type                                                         Private
image                   d10c7e016e03247a3bf2d13348fe959fe6f436c1caf64c...
image_top_1                                                          1008
deal_probability                                                  0.12789
Name: 0, dtype: object

In [16]:
len(train)

1418062

# Transfer the features
## class columns(one-hot coding)
['region', 'city', 'parent_category_name',
       'category_name', 'param_1', 'param_2', 'param_3', 
    'activation_date',
       'user_type']

In [20]:
col_name = ['region', 'city', 'parent_category_name',
       'category_name', 'param_1', 'param_2', 'param_3', 'title',
       'description', 'price', 'item_seq_number', 'activation_date',
       'user_type', 'image', 'image_top_1', 'deal_probability']

In [15]:
for col in  col_name:
    print(col,len(train[col].value_counts()))

item_id 1418062
user_id 719249
region 28
city 1723
parent_category_name 9
category_name 47
param_1 366
param_2 269
param_3 1212
title 744380
description 1238265
price 17006
item_seq_number 28005
activation_date 21
user_type 3
image 1331626
image_top_1 3063
deal_probability 17514

In [17]:
train.drop(['item_id', 'user_id','image','image_top_1'], axis=1,inplace = True)

In [18]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1418062 entries, 0 to 1503423
Data columns (total 14 columns):
region                  1418062 non-null object
city                    1418062 non-null object
parent_category_name    1418062 non-null object
category_name           1418062 non-null object
param_1                 1418062 non-null object
param_2                 1418062 non-null object
param_3                 1418062 non-null object
title                   1418062 non-null object
description             1418062 non-null object
price                   1418062 non-null float64
item_seq_number         1418062 non-null int64
activation_date         1418062 non-null object
user_type               1418062 non-null object
deal_probability        1418062 non-null float64
dtypes: float64(2), int64(1), object(11)
memory usage: 162.3+ MB

In [19]:
class_train = pd.get_dummies(train, 
                             columns=['region', 'city', 'parent_category_name', 
                                      'category_name', 'param_1', 'param_2', 'param_3', 'activation_date', 'user_type'])

In [23]:
del train
gc.collect()

14

In [31]:
class_train.shape

(1418062, 3683)

In [30]:
class_train.to_csv('train_class.csv',index = False)

In [33]:
del class_train
gc.collect()

NameError: name 'class_train' is not defined

# Train the model in large dataset
## define the model

In [14]:
#import packages and set parameters.
import numpy as np

from keras import models
from keras import layers
from keras.layers import Dense, Dropout
from keras import regularizers

#configure GPU，if you do not use Tensorflow-GPU delete this part
import tensorflow as tf
from keras.backend.tensorflow_backend import set_session
config = tf.ConfigProto()  
config.gpu_options.allow_growth = True  
config.gpu_options.per_process_gpu_memory_fraction = 0.8
set_session(tf.Session(config=config)) 
print('configed')

e:\Users\Administrator\Anaconda3\envs\ML\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

configed

In [15]:
#build model, train, and save the weight
#del model
model = models.Sequential()
model.add(layers.Dense(4000,activation='relu', input_shape=(3680,) ))
#model.add(layers.Dropout(0.5))
model.add(layers.Dense(3000,activation='relu'))
#                       kernel_regularizer = regularizersl2,bias_regularizer = regularizersl2))
model.add(layers.Dense(2000,activation='relu'))
#                       kernel_regularizer = regularizersl2,bias_regularizer = regularizersl2))
model.add(layers.Dense(1000,activation='relu'))
model.add(layers.Dense(50,activation='relu'))
#model.add(layers.Dropout(0.5))
model.add(layers.Dense(1,activation='sigmoid',))
#                       kernel_regularizer = regularizersl2,bias_regularizer  = regularizersl2))

model.compile(optimizer='rmsprop',
              loss='mse')
#              metrics=['loss'])

## train by batch

In [41]:
#input_shape = x_train[1,].shape
batch_size = 128
epochs = 200
validation_split = 0.2
from keras.callbacks import EarlyStopping
EarlyStopping = EarlyStopping(monitor='val_loss', patience=3, verbose=0, mode='min')
from keras import regularizers
regularizersl2 = regularizers.l2(0.07)

In [69]:
class_train = pd.read_csv('train_class.csv',chunksize = 128)

In [72]:
type(class_train)

pandas.io.parsers.TextFileReader

In [71]:
class_train = pd.read_csv('train_class.csv',iterator = True)

class_train.get_chunk(10)

In [ ]:
history_tot = []
for chunk in class_train:
    x_train = np.array(chunk.drop(['title','description','deal_probability'], axis=1))
    y_train = np.array(chunk['deal_probability'])
#    del chunk[:]
#    gc.collect()
    history = model.train_on_batch(x_train, y_train)
    history_tot.append(history)

model.save('Class_only.h5')

In [62]:
print('Model Saved')

Model Saved

In [65]:
history

0.06241513

## Train by generator

In [7]:
col_name = list(pd.read_csv('train_class.csv',nrows = 1).keys())

In [8]:
validation_data = pd.read_csv('train_class.csv',skiprows = 1134449,names = col_name)
validation_data.head(2)

,title,description,price,item_seq_number,deal_probability,region_Алтайский край,region_Башкортостан,region_Белгородская область,region_Владимирская область,region_Волгоградская область,...,activation_date_2017-03-29,activation_date_2017-03-30,activation_date_2017-03-31,activation_date_2017-04-01,activation_date_2017-04-02,activation_date_2017-04-03,activation_date_2017-04-07,user_type_Company,user_type_Private,user_type_Shop
0,Осенние сапожки на мальчика,"Продаю осенние сапожки на мальчика Tom.M, разм...",500.0,11,0.0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
1,Cветодиодный светильник hopar для аквариума,Cветодиодный светильник HOPAR предназначен для...,3200.0,39,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [12]:
validation_data.shape

(283614, 3683)

In [10]:
validation_data.to_csv('validation_class.csv',index = False)

In [21]:
del validation_data
gc.collect()

NameError: name 'validation_data' is not defined

In [22]:
def train_gen(infile,batch_size):
    while True:
        test = pd.read_csv(infile,iterator = True,nrows = 1134449 )
        while True:
            try:
                chunk = test.get_chunk(batch_size)
                x_train = np.array(chunk.drop(['title','description','deal_probability'], axis=1))
                y_train = np.array(chunk['deal_probability'])
                yield (x_train,y_train)
            except StopIteration:
                break
def vali_gen(infile,batch_size):
    while True:
        test = pd.read_csv(infile,iterator = True)
        while True:
            try:
                chunk = test.get_chunk(batch_size)
                x_train = np.array(chunk.drop(['title','description','deal_probability'], axis=1))
                y_train = np.array(chunk['deal_probability'])
                yield (x_train,y_train)
            except StopIteration:
                break

In [197]:
1418062*0.8

1134449.6

In [17]:
batch_size/1418062

0.005776898330256364

In [18]:
batch_size/1418062*1418062*0.2

1638.4

In [19]:
1638/283614

0.005775455372442827

In [26]:
#input_shape = x_train[1,].shape
batch_size = 8192
epochs = 20
from keras.callbacks import EarlyStopping
EarlyStopping = EarlyStopping(monitor='val_loss', patience=3, verbose=0, mode='min')
from keras import regularizers
regularizersl2 = regularizers.l2(0.07)

In [27]:
hist_gen = model.fit_generator(train_gen('train_class.csv',batch_size), 
                               epochs=epochs,
                               steps_per_epoch = 1418062//batch_size,
#                               callbacks=EarlyStopping, 
                               validation_data=vali_gen('validation_class.csv',2048),
                               validation_steps = 1134449//2048)

Epoch 1/20
173/173 [==============================] - 737s 4s/step - loss: 0.0846 - val_loss: 0.0849
Epoch 2/20
173/173 [==============================] - 714s 4s/step - loss: 0.0846 - val_loss: 0.0850
Epoch 3/20
173/173 [==============================] - 706s 4s/step - loss: 0.0846 - val_loss: 0.0850
Epoch 4/20
173/173 [==============================] - 708s 4s/step - loss: 0.0847 - val_loss: 0.0849
Epoch 5/20
173/173 [==============================] - 704s 4s/step - loss: 0.0847 - val_loss: 0.0849
Epoch 6/20
173/173 [==============================] - 707s 4s/step - loss: 0.0845 - val_loss: 0.0849
Epoch 7/20
173/173 [==============================] - 710s 4s/step - loss: 0.0846 - val_loss: 0.0850
Epoch 8/20
173/173 [==============================] - 705s 4s/step - loss: 0.0847 - val_loss: 0.0850
Epoch 9/20
173/173 [==============================] - 709s 4s/step - loss: 0.0847 - val_loss: 0.0849
Epoch 10/20
173/173 [==============================] - 708s 4s/step - loss: 0.0845 - val_loss: 0.0849
Epoch 11/20
173/173 [==============================] - 706s 4s/step - loss: 0.0846 - val_loss: 0.0850
Epoch 12/20
173/173 [==============================] - 705s 4s/step - loss: 0.0847 - val_loss: 0.0849
Epoch 13/20
173/173 [==============================] - 709s 4s/step - loss: 0.0847 - val_loss: 0.0850
Epoch 14/20
173/173 [==============================] - 706s 4s/step - loss: 0.0845 - val_loss: 0.0850
Epoch 15/20
173/173 [==============================] - 708s 4s/step - loss: 0.0846 - val_loss: 0.0849
Epoch 16/20
173/173 [==============================] - 708s 4s/step - loss: 0.0846 - val_loss: 0.0850
Epoch 17/20
173/173 [==============================] - 707s 4s/step - loss: 0.0847 - val_loss: 0.0850
Epoch 18/20
173/173 [==============================] - 718s 4s/step - loss: 0.0846 - val_loss: 0.0850
Epoch 19/20
173/173 [==============================] - 705s 4s/step - loss: 0.0846 - val_loss: 0.0850
Epoch 20/20
173/173 [==============================] - 703s 4s/step - loss: 0.0846 - val_loss: 0.0850

In [28]:
model.save('Class_only_gen.h5')

In [ ]:
history_ori = model.fit(x_train,y_train,epochs = epochs,
                   batch_size = batch_size, validation_split = validation_split,callbacks=[EarlyStopping])

#score_ori = model.evaluate(x_test, y_test, batch_size=batch_size)

#print(score_ori)

## text feature--not finished

In [ ]:
'title','description'

In [ ]:
class_train = train[['region', 'city', 'parent_category_name', 'category_name', 'param_1', 'param_2', 'param_3', 'activation_date', 'user_type']]

In [ ]:
pandas.get_dummies(data, prefix=None, prefix_sep='_', dummy_na=False, columns=None, sparse=False, drop_first=False, dtype=None)[source]